body {
  background-image: url("assets/background.jpg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.hero-image {
    max-width: 650px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.hero-image img {
    width: 100%;
    max-width: 650px;
}
